<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>I-vents account password reset</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width"/>
</head>
<body style="font-family: Georgia,Times,Times New Roman,serif;">
<table style="border: 0; border-collapse: separate; border-spacing: 0;height: 100%; width: 100%;">
    <tr>
        <td style="vertical-align: top; align-content: center; background: url(https://i.imgur.com/eqgb4o2.png); background-size: cover;">
            <table style="margin: 0 auto; border: 0; border-collapse: separate; border-spacing: 0; padding: 0; width: 580px">
                <tr>
                    <td style="padding: 15px;">
                        <div>
                            <img style="display: block; margin: 0 auto; opacity: 1;"
                                 src="https://i.imgur.com/ZHNlLlm.png" alt="I-VENTS">
                        </div>
                        <h2 style="color: #313233;">I-vents account password forgotten</h2>
                        <br>
                        <br>
                        <br>
                        <br>
                        <p style="color: white;">You are receiving this email because you let us know that you forgot
                            your password.
                            In order to get back into your account you will have to follow the link below.
                            This link is valid for 1 day from the moment you receive this email.
                            <br>
                            <br>
                            <br>
                            <br>
                            <a th:href="@{'http://localhost:4200/auth/reset-password/'+${resetCode}}">Please
                                click this link
                                to reset your password</a>
                            <br>
                            <br>
                            <br>
                            The I-vents team
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
